{% extends 'BitcoinAdminBundle::base.html.twig' %}
{% block title 'Add Product' %}
{% block page_heading 'Add Product'%}
{% block javascript %}
<script type="text/javascript" src="{{ asset('bundles/bitcoinadmin/') }}libs/ckeditor/ckeditor.js" ></script>
<script type="text/javascript">
    CKEDITOR.replace();
</script>

<script type="text/javascript" src="{{ asset('bundles/bitcoinadmin/') }}libs/jQuery-file-upload/js/vendor/jquery.ui.widget.js" ></script>
<script type="text/javascript" src="{{ asset('bundles/bitcoinadmin/') }}libs/jQuery-file-upload/js/jquery.iframe-transport.js" ></script>
<script type="text/javascript" src="{{ asset('bundles/bitcoinadmin/') }}libs/jQuery-file-upload/js/jquery.fileupload.js" ></script>
<script type="text/javascript">
$(document).ready(function()
{
    $('#fileupload').fileupload({});
});
</script>
{% endblock %}
{% block style %}
{% endblock %}
{% block contentdata %}
<div class="tabular_cont">
    {% block form_widget %}
    {{ form_start(form, {'attr': {'class':'form-horizontal','autocomplete':'off'}}) }}
    <div class="span9 margin-auto">
        <div class="control-group">
            {{ form_label(form.productTitle, '', {'label_attr': {'class': 'control-label'}}) }}<i class="require">*</i>
            <div class="controls">
                {{ form_widget(form.productTitle, {'attr': {'class': 'txtField', 'placeholder':'Product Name'}}) }}
                {{ show_error(form.productTitle) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.description, '', {'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.description, {'attr': {'class': 'ckeditor ', 'placeholder':'Description'}}) }}
                {{ show_error(form.description) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.price, 'Price', {'label_attr': {'class': 'control-label'}}) }}<i class="require">*</i>
            <div class="controls">
                {{ form_widget(form.price, {'attr': {'class': 'txtField', 'placeholder':'Price'}}) }}
                {{ show_error(form.price) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.priceListed, 'Price isted', {'label_attr': {'class': 'control-label'}}) }}<i class="require">*</i>
            <div class="controls">
                {{ form_widget(form.priceListed, {'attr': {'class': 'txtField', 'placeholder':'Price Listed'}}) }}
                {{ show_error(form.priceListed) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.fkProductCat, 'Product Category', {'label_attr': {'class': 'control-label'}}) }}<i class="require">*</i>
            <div class="controls">
                {{ form_widget(form.fkProductCat, {'attr': {'class': 'selectBox', 'placeholder':'Email'}}) }}
                {{ show_error(form.fkProductCat) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.sku, 'Product SKU', {'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.sku, {'attr': {'class': 'txtField', 'placeholder':'sku'}}) }}
                {{ show_error(form.sku) }}
            </div>
        </div>
        
        <div class="control-group radio_div">
            {{ form_label(form.featured, 'Featurd Product', {'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {% for choiceFormView in form.featured %}
                <label class="radio inline">
                        {{ form_widget(choiceFormView) }}
                        {{ form_label(choiceFormView) }}
                </label>
                {% endfor %}
            </div>
        </div>
        
        <div class="control-group">
            {{ form_label(form.images, 'Product images', {'label_attr': {'class': 'control-label'}}) }}
            {{ show_error(form.images) }}
            <div class="controls">
            {% for image in form.images %}
                <div class="control-group">
                    {{ form_label(image.title, '', {'label_attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        {{ form_widget(image.title) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(image.file, '', {'label_attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        {{ form_widget(image.file) }}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {#
        <div class="control-group">
            <label class="control-label">Product Image</label>

            <div class="controls">
                <label class="control-label">Image Title </label>
                <div class="control-group">
                    <input type="text" name="title[]" placeholder="Image Title"/>
                </div>
            
                <label class="control-label">Select Image </label>
                <div class="control-group">
                    <input type="file" name="image[]" />
                </div>
            </div>

        </div>#}
        <div class="control-group">
            <div class="controls ">
                {% form_theme form _self %}
                {{ form_widget(form.submit, {'attr':{'class':'dark-button'}, 'label':'Save'}) }}
                <button type="reset" class="light-button">Cancel</button></p>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% endblock form_widget %}
</div>  

{% endblock %}