<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <!--[if lt IE 7]> <html class="ie6" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
    <!--[if IE 9]>    <html class="ie9" lang="en"> <![endif]-->
    <!--[if !IE]><!--> <html lang="en"><!--<![endif]-->
        <head>
            <!-- Palm -->
            <meta name="HandheldFriendly" content="True" />
            <!-- Windows -->
            <meta name="MobileOptimized" content="320" />
            <!-- Safari, Android, BB, Opera -->
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>BitCoinToBoolean | {% block title 'Welcome to Our Website!' %}</title>
            <meta name="description" content="Default Description" />
            <meta name="keywords" content="Magento, Varien, E-commerce" />
            <meta name="robots" content="INDEX,FOLLOW" />
            <link rel="icon" href="" type="image/x-icon" />
            <link rel="shortcut icon" href="" type="image/x-icon" />

            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
            <link href='https://fonts.googleapis.com/css?family=Ledger' rel='stylesheet' type='text/css' />
            <link href='https://fonts.googleapis.com/css?family=Shanti' rel='stylesheet' type='text/css'/>
            <link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'/>
            <!--[if lt IE 7]>
            <script type="text/javascript">
            //<![CDATA[
                var BLANK_URL = 'http://magento-demo.net/MAG191/js/blank.html';
                var BLANK_IMG = 'http://magento-demo.net/MAG191/js/spacer.gif';
            //]]>
            </script>
            <![endif]-->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/styles.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/widgets.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/custom.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/tm_flexslider.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/carousel.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/style.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/responsive.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/settings.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/captions-original.css" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/print.css" media="print" />


            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/prototype.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/ccard.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/validation.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/builder.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/effects.js"></script>

            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/dragdrop.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/controls.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/slider.js"></script>

            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/js.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/form.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/menu.js"></script>

            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/translate.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/cookies.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/html5.js"></script>

            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/jquery-1.7.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/tm_jquery.flexslider.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/megnor.min.js"></script>

            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/jquery.selectbox-0.2.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/carousel.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/jstree.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/scrolltop.min.js"></script>

            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/advancedmenu.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/custom.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/jquery.themepunch.plugins.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/jquery.themepunch.revolution.min.js"></script>
            <!--[if lt IE 8]>
            <link rel="stylesheet" type="text/css" href="http://magento-demo.net/MAG191/skin/frontend/default/default/css/styles-ie.css" media="all" />
            <![endif]-->
            <!--[if lt IE 7]>
            <script type="text/javascript" src="http://magento-demo.net/MAG191/js/lib/ds-sleight.js"></script>
            <script type="text/javascript" src="http://magento-demo.net/MAG191/skin/frontend/base/default/js/ie6.js"></script>
            <![endif]-->

            <script type="text/javascript">
                //<![CDATA[
                optionalZipCountries = ["HK", "IE", "MO", "PA"];
                //]]>
            </script>
            <script type="text/javascript">//<![CDATA[
                var Translator = new Translate([]);
                //]]>
            </script> 
        </head>
        <body class=" cms-index-index cms-home">
            <div class="wrapper">
                <noscript>
                    <div class="global-site-notice noscript">
                        <div class="notice-inner">
                            <p>
                                <strong>JavaScript seems to be disabled in your browser.</strong><br />
                                You must have JavaScript enabled in your browser to utilize the functionality of this website.                </p>
                        </div>
                    </div>
                </noscript>
                <div class="page">
                    {% block header %}
                    <header class="header-container">  
                        <div class="header">
                            <div class="header_top">
                                <div class="inner_header_top">	
                                    <div class="tm_top_currency">

                                        <select name="currency" title="Currency" onchange="setLocation(this.value)">
                                            <option value="" selected="selected">
                                                BTC            </option>
                                        </select>
                                        <label class="btn">Currency:</label>
                                    </div>


                                    <div class="form-language btn-group">

                                        <select id="select-language" title="Your Language" onchange="window.location.href = this.value">
                                            <option value="" selected="selected">English</option>
                                        </select>
                                        <label for="select-language" class="btn">Language:</label>
                                    </div>
                                    <div class="search_button"></div>
                                    <ul class="links">
                                        <li class="first" ><a href="myaccount.html" title="My Account" >My Account</a></li>
                                        <li ><a href="#" title="My Wishlist" >My Wishlist</a></li>
                                        <li ><a href="#" title="My Cart" class="top-link-cart">My Cart</a></li>
                                        <li ><a href="#" title="Checkout" class="top-link-checkout">Checkout</a></li>
                                        <li class=" last" ><a href="myaccount.html" title="Log In" >Log In</a></li>
                                    </ul>

                                    <div class="welcome-msg">Default welcome msg!</div>

                                </div>
                            </div>
                            <div class="header-bottom"> 

                                <h1 class="logo"><strong>Magento Commerce</strong><a href="#" title="Magento Commerce" class="logo"><img src="images/My_Web_Logo.PNG" alt="Magento Commerce" /></a></h1>


                                <div class="quick-access">
                                    <form id="search_mini_form" action="#" method="get">
                                        <div class="form-search">
                                            <label for="search">Search:</label>
                                            <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" />
                                            <button type="submit" title="Search" class="button"><span><span>Search</span></span></button>
                                            <div id="search_autocomplete" class="search-autocomplete"></div>
                                            <script type="text/javascript">
                                                //<![CDATA[
                                                var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Search entire store here...');
                                                searchForm.initAutocomplete('http://magento-demo.net/MAG191/MAG090184/index.php/catalogsearch/ajax/suggest/', 'search_autocomplete');
                                                //]]>
                                            </script>
                                        </div>
                                    </form>
                                    <div class="header-cart">
                                        <div class="block-cart btn-slide">

                                            <div class="cart-label">

                                                <div class="cart_mini_right">
                                                    (0 item) -             			<span class="price">$0.00</span>			<div class="right_arrow"></div>
                                                </div>		
                                            </div>

                                            <div class="block-content" id="panel">
                                                <div class="top_arrow"></div>
                                                <div class="cart_topbg">
                                                    <div class="main-cart">
                                                        <p class="empty">You have no items in your shopping cart.</p>


                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tm_headerlinkmenu">
                                        <div class="tm_headerlinks_inner"><div class="headertoggle_img">&nbsp;</div></div>
                                        <ul class="links">
                                            <li class="first" ><a href="#" title="My Account" >My Account</a></li>
                                            <li ><a href="#" title="My Wishlist" >My Wishlist</a></li>
                                            <li ><a href="#" title="My Cart" class="top-link-cart">My Cart</a></li>
                                            <li ><a href="#" title="Checkout" class="top-link-checkout">Checkout</a></li>
                                            <li class=" last" ><a href="#" title="Log In" >Log In</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </header>
                    {% endblock %}
                    {% block navbar %}
                    <nav class="nav-container">
                        <div class="nav-inner">
                            <div id="advancedmenu" style="display: block;">
                                <div class="menu">
                                    <div class="parentMenu menu0 home_link"> <a href="#"> <span>Home</span> </a> </div>
                                </div>
                                <div id="menu88" class="menu" onmouseover="megnorShowMenuPopup(this, 'popup88');" onmouseout="megnorHideMenuPopup(this, event, 'popup88', 'menu88')">
                                    <div class="parentMenu"> <a href="#"> <span>Diamond Jewellery</span> </a> </div>
                                </div>
                                <div onmouseover="megnorPopupOver(this, event, 'popup88', 'menu88')" onmouseout="megnorHideMenuPopup(this, event, 'popup88', 'menu88')" class="megnor-advanced-menu-popup" id="popup88" style="z-index: 10000; display: none; left: 75px;">
                                    <div class="megnor-advanced-menu-popup_inner">
                                        <div class="block1">
                                            <div class="column first odd">
                                                <div class="itemMenu level1"><a href="#" class="itemMenuName level1"><span>Earrings</span></a>
                                                    <div class="itemSubMenu level1">
                                                        <div class="itemMenu level2"><a href="#" class="itemMenuName level2"><span> Drops</span></a><a href="#" class="itemMenuName level2"><span>Studs</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column even">
                                                <div class="itemMenu level1"><a href="#" class="itemMenuName level1"><span>Pendants</span></a>
                                                    <div class="itemSubMenu level1">
                                                        <div class="itemMenu level2"><a href="#" class="itemMenuName level2"><span>Casual</span></a><a href="#" class="itemMenuName level2"><span>Personalized</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column last odd">
                                                <div class="itemMenu level1"><a href="#" class="itemMenuName level1"><span>Locket</span></a>
                                                    <div class="itemSubMenu level1">
                                                        <div class="itemMenu level2"><a href="#" class="itemMenuName level2"><span>Broad Loket</span></a><a href="#" class="itemMenuName level2"><span>Studded Lokets</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearBoth"></div>
                                        </div>
                                        <div class="clearBoth"></div>
                                        <div id="tm_advanced_menu_88" class="block2">
                                            <p><a href="#"><img alt="" src="images/category_banner.jpg"></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu89" class="menu" onmouseover="megnorShowMenuPopup(this, 'popup89');" onmouseout="megnorHideMenuPopup(this, event, 'popup89', 'menu89')">
                                    <div class="parentMenu"> <a href="#"> <span>Gold Jewellery</span> </a> </div>
                                </div>
                                <div onmouseover="megnorPopupOver(this, event, 'popup89', 'menu89')" onmouseout="megnorHideMenuPopup(this, event, 'popup89', 'menu89')" class="megnor-advanced-menu-popup" id="popup89" style="display: none; left: 244px; z-index: 9999;">
                                    <div class="megnor-advanced-menu-popup_inner">
                                        <div class="block1">
                                            <div class="column first odd">
                                                <div class="itemMenu level1"><a href="#" class="itemMenuName level1"><span>Necklaces</span></a>
                                                    <div class="itemSubMenu level1">
                                                        <div class="itemMenu level2"><a href="#" class="itemMenuName level2"><span>Chains</span></a><a href="#" class="itemMenuName level2"><span>Brooch</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column last even">
                                                <div class="itemMenu level1"><a href="#" class="itemMenuName level1"><span>Bracelet</span></a>
                                                    <div class="itemSubMenu level1">
                                                        <div class="itemMenu level2"><a href="#" class="itemMenuName level2"><span>Diamond Studded</span></a><a href="#" class="itemMenuName level2"><span>Gold Plated</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearBoth"></div>
                                    </div>
                                </div>
                                <div id="menu90" class="menu">
                                    <div class="parentMenu"> <a href="#"> <span>Solitaire Jewellery</span> </a> </div>
                                </div>
                                <div id="menu91" class="menu">
                                    <div class="parentMenu"> <a href="#"> <span>Gemstone Jewellery</span> </a> </div>
                                </div>
                                <div id="menu102" class="menu">
                                    <div class="parentMenu"> <a href="#"> <span>Cuff links</span> </a> </div>
                                </div>
                                <div class="clearBoth"></div>
                            </div>

                            <!--- Code for responsive menu start --->
                            <div class="nav-responsive" style="display:none;"><span>Menu</span>
                                <div class="expandable"></div>
                            </div>
                            <div class="responsive_menu">
                                <ul id="nav" class="advanced_nav">
                                    <li class="level0 nav-1 level-top first parent"> <a class="level-top" href="#"> <span>Diamond Jewellery</span> </a>
                                        <ul class="level0">
                                            <li class="level1 nav-1-1 first parent"> <a href="#"> <span>Earrings</span> </a>
                                                <ul class="level1">
                                                    <li class="level2 nav-1-1-1 first"> <a href="#"> <span> Drops</span> </a> </li>
                                                    <li class="level2 nav-1-1-2 last"> <a href="#"> <span>Studs</span> </a> </li>
                                                </ul>
                                            </li>
                                            <li class="level1 nav-1-2 parent"> <a href="#"> <span>Pendants</span> </a>
                                                <ul class="level1">
                                                    <li class="level2 nav-1-2-3 first"> <a href="#"> <span>Casual</span> </a> </li>
                                                    <li class="level2 nav-1-2-4 last"> <a href="#"> <span>Personalized</span> </a> </li>
                                                </ul>
                                            </li>
                                            <li class="level1 nav-1-3 last parent"> <a href="#"> <span>Locket</span> </a>
                                                <ul class="level1">
                                                    <li class="level2 nav-1-3-5 first"> <a href="#"> <span>Broad Loket</span> </a> </li>
                                                    <li class="level2 nav-1-3-6 last"> <a href="#"> <span>Studded Lokets</span> </a> </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="level0 nav-2 level-top parent"> <a class="level-top" href="#"> <span>Gold Jewellery</span> </a>
                                        <ul class="level0">
                                            <li class="level1 nav-2-1 first parent"> <a href="#"> <span>Necklaces</span> </a>
                                                <ul class="level1">
                                                    <li class="level2 nav-2-1-1 first"> <a href="#"> <span>Chains</span> </a> </li>
                                                    <li class="level2 nav-2-1-2 last"> <a href="#"> <span>Brooch</span> </a> </li>
                                                </ul>
                                            </li>
                                            <li class="level1 nav-2-2 last parent"> <a href="#"> <span>Bracelet</span> </a>
                                                <ul class="level1">
                                                    <li class="level2 nav-2-2-3 first"> <a href="#"> <span>Diamond Studded</span> </a> </li>
                                                    <li class="level2 nav-2-2-4 last"> <a href="#"> <span>Gold Plated</span> </a> </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="level0 nav-3 level-top"> <a class="level-top" href="#"> <span>Solitaire Jewellery</span> </a> </li>
                                    <li class="level0 nav-4 level-top"> <a class="level-top" href="#"> <span>Gemstone Jewellery</span> </a> </li>
                                    <li class="level0 nav-5 level-top last"> <a class="level-top" href="#"> <span>Cuff links</span> </a> </li>
                                </ul>
                            </div>
                        </div>
                        <!--- Code for responsive menu end ---> 

                    </nav>
                    <script type="text/javascript">
                        //<![CDATA[
                        var CUSTOMMENU_POPUP_WIDTH = 0;
                        var CUSTOMMENU_POPUP_TOP_OFFSET = 0;
                        var CUSTOMMENU_POPUP_RIGHT_OFFSET_MIN = 0;
                        var CUSTOMMENU_POPUP_DELAY_BEFORE_DISPLAYING = 0;
                        var CUSTOMMENU_POPUP_DELAY_BEFORE_HIDING = 0;
                        var megnorCustommenuTimerShow = {};
                        var megnorCustommenuTimerHide = {};
                        //]]>
                    </script>
                    {% endblock %}

                    {% block slider %}
                    <div class="fullwidthbanner-container">
                        <div class="fullwidthbanner">
                            <ul>
                                <li class="slide1" data-transition="random" data-slotamount="7" data-link="http://www.google.de"><img src="{{ asset('bundles/bitcoinsite/') }}images/bg.jpg" alt="" />
                                    <div class="slide1_img tp-caption start" data-x="513" data-y="70" data-speed="700" data-start="800" data-easing="easeOutBounce"><img src="{{ asset('bundles/bitcoinsite/') }}images/main-banner1-img.png" alt="" /></div>
                                    <div class="caption1 tp-caption sft" data-x="775" data-y="113" data-speed="900" data-start="1400" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/20per-off.png" alt="" /></div>
                                    <div class="caption2 tp-caption  skewfromright" data-x="85" data-y="96" data-speed="700" data-start="1200" data-easing="easeInExpo">Traditional costume Jewellery</div>
                                    <div class="caption3 tp-caption  skewfrombottom" data-x="85" data-y="155" data-speed="900" data-start="1500" data-easing="easeOutQuint">Nunc non fermentum nunc Sed ut tempor </br> Cosequat sit amet..</div>
                                    <div class="caption sfb medium_grey" data-x="85" data-y="215" data-speed="700" data-start="2500"><a href="#">Shop Now </a></div>
                                </li>
                                <li class="slide2" data-transition="random" data-slotamount="7" data-link="#"><img src="{{ asset('bundles/bitcoinsite/') }}images/bg.jpg" alt="" />
                                    <div class="slide2_img tp-caption sfb start" data-x="45" data-y="60" data-speed="700" data-start="800" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/main-banner2-img.png" alt="" /></div>
                                    <div class="caption4 tp-caption sft" data-x="260" data-y="186" data-speed="900" data-start="1400" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/20per-off.png" alt="" /></div>
                                    <div class="caption5 tp-caption  skewfromleftshort customout" data-x="455" data-y="96" data-speed="500" data-start="1800" data-easing="easeOutBack"><strong>Exquisite Designer Jewellery</strong></div>
                                    <div class="caption6 tp-caption  skewfrombottom" data-x="455" data-y="150" data-speed="900" data-start="1500" data-easing="easeOutQuint">Add more Glamour to your style with our gorgeous </br> Jewellery Collection</div>
                                    <div class="caption sfb medium_grey" data-x="455" data-y="213" data-speed="700" data-start="2500"><a href="#">Shop Now </a></div>
                                </li>
                                <li class="slide3" data-transition="random" data-slotamount="7" data-link="#"><img src="{{ asset('bundles/bitcoinsite/') }}images/bg.jpg" alt="" />
                                    <div class="slide3_img tp-caption sfb start" data-x="552" data-y="48" data-speed="700" data-start="800" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/main-banner3-img.png" alt="" /></div>
                                    <div class="caption7 tp-caption sft" data-x="737" data-y="196" data-speed="900" data-start="1400" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/20per-off.png" alt="" /></div>
                                    <div class="caption8 tp-caption  sft" data-x="87" data-y="95" data-speed="900" data-start="1400" data-easing="easeOutQuad">Stylish Women that is your big deal</div>
                                    <div class="caption9 tp-caption  lfl tp-resizeme start" data-x="87" data-y="155" data-speed="500" data-start="2200" data-easing="easeInQuart">Nunc non termentum nunc. Sed ut tempor</br>consequat sit amet...</div>
                                    <div class="caption sfb medium_grey" data-x="87" data-y="215" data-speed="700" data-start="2500"><a href="#">Shop Now </a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endblock %}
                    
                    {% block content %}
                    {% endblock %}
                    
                    {% block footer %}
                    <footer class="footer-container">
                        <div class="footer">	 
                            <div class="footer_top" id="footer">		
                                <div id="block_1" class="footer-area">
                                    <div class=" staticlink1">
                                        <h6>Information</h6>
                                        <ul>
                                            <li><a href="#">Diamond Necklaces</a></li>
                                            <li><a href="#">Gold Necklaces</a></li>
                                            <li><a href="#">Solitiare Necklaces</a></li>
                                            <li><a href="#">Gemsstone Necklaces</a></li>
                                            <li><a href="#">Bridal Jewellery</a></li>
                                            <li><a href="#">Fashion Jewellery</a></li>
                                            <li><a href="#">SIlver Diamond Necklaces</a></li>
                                        </ul>
                                    </div>
                                    <div class="staticlink2">
                                        <h6>Extras</h6>
                                        <ul>
                                            <li><a href="#">Diamond Earrings</a></li>
                                            <li><a href="#">Gold Rings</a></li>
                                            <li><a href="#">Gold Pendants</a></li>
                                            <li><a href="#">Diamond lockets</a></li>
                                            <li><a href="#">Gold chains with Pendants</a></li>
                                            <li><a href="#">Diamond studded Pendats</a></li>
                                            <li><a href="#">Gold Plated Jewellery</a></li>
                                        </ul>
                                    </div>
                                    <div class="staticlink3">
                                        <h6>Other Links</h6>
                                        <ul>
                                            <li><a href="#">Nose Piercing Jewellery</a></li>
                                            <li><a href="#">Body Piercing Jewellery</a></li>
                                            <li><a href="#">Hand Ornaments</a></li>
                                            <li><a href="#">Crowns and carcanets</a></li>
                                            <li><a href="#">Armlets And Bracelets</a></li>
                                            <li><a href="#">Belly Chains</a></li>
                                            <li><a href="#">Medical Alert Jewellery</a></li>
                                        </ul>
                                    </div> 
                                </div>
                                <div id="block_2" class="footer-area">
                                    <div class="content">
                                        <h6>Contact Us</h6>
                                        <ul>
                                            <li class="address">
                                                <div class="inner_contact">Ujjain 41, Kamla Nehru Marg,II nd Floor Khanna Tower,Freeganj Ujjain (M.P), Pin: 456010</div>
                                            </li>
                                            <li class="phoneno">
                                                <div class="inner_contact">Phone No:-  0734-4061379<br /> +91 8109000987</div>
                                            </li>
                                            <li class="email">
                                                <div class="inner_contact"><a href="#">support@sitsdevelopment.com</a></div>
                                            </li>
                                        </ul> 
                                    </div>
                                    <div class="social_block">
                                        <ul>
                                            <li class="facebook"><a href="#">&nbsp;</a></li>
                                            <li class="twitter"><a href="#">&nbsp;</a></li>
                                            <li class="rss"><a href="#">&nbsp;</a></li>
                                            <li class="linkin"><a href="#">&nbsp;</a></li>
                                        </ul> 
                                    </div>			
                                </div>		
                            </div> 

                        </div>
                        <div class="footer_bottom"> 
                            <div class="footer_bottom_inner">
                                <ul class="links">
                                    <li class="first" ><a href="#" title="Site Map" >Site Map</a></li>
                                    <li ><a href="#" title="Search Terms" >Search Terms</a></li>
                                    <li ><a href="#" title="Advanced Search" >Advanced Search</a></li>
                                    <li ><a href="#" title="Orders and Returns" >Orders and Returns</a></li>
                                    <li class=" last" ><a href="#" title="Contact Us" >Contact Us</a></li>
                                </ul>
                                <address>&copy; 2014 SITS Info SolutionS. All Rights Reserved.</address> 
                                <div class="payment_block">
                                    <ul>
                                        <li><a href="#"><img src="{{ asset('bundles/bitcoinsite/') }}images/payment_icon.png" alt="" /></a></li>
                                    </ul>
                                </div> 
                            </div>	
                        </div>
                    </footer>
                    {% endblock %}

                </div>
            </div>
        </body>
    </html>
