{% extends 'BitcoinSiteBundle::layout.html.twig' %}
{% block content %}
{% include 'BitcoinSiteBundle:Product:latestProduct.html.twig' %}
<section class="main-container col2-left-layout">
    <div class="main"> 

        <article class="col-main">
            <div class="breadcrumbs">
                <ul>
                    <li class="home">
                        <a href="#" title="Go to Home Page">Home</a>
                    </li>
                </ul>
            </div>
            <div class="std"><div class="about_us">
                    <div class="about_us_left">
                        <h3>About Jewellery Store</h3>
                        <span>Lorem ipsum presta shop amet </span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="about_us_right"><img src="{{ asset('bundles/bitcoinsite/') }}images/banner.png" alt="" /></div>
                </div>
                <p>
                <div class="featured-products">
                    <div class="category-title">
                        <h2><a href="#">Featured Products</a></h2></div>

                    <ul class="products-grid" id="featured-grid">
                        {% for key, product in latestProduct %}
                        <li class="item product-items">   
                            <div class="product-block">
                                <div class="product-block-inner">
                                        <a href="#" title="{{ product.productTitle }}" class="product-image">
                                            {% if product.images is defined and product.images is not empty  %}
                                                {% set image = product.images.0.path %}
                                            {% else %}
                                                {% set image = asset('bundles/bitcoinsite/')~'images/jr00575-wgp900_1_lar_2.jpg' %}
                                            {% endif %}
                                            <img src="{{ image('uploads/images/'~image).resize(215,215) }}" width="215" height="215" alt="{{ product.productTitle }}" />
                                            {#<img src="{{ asset('bundles/bitcoinsite/') }}images/jr00575-wgp900_1_lar_2.jpg" width="215" height="215" alt="{{ product.productTitle }}" />#}
                                            {#<div class="new-label">New</div>
                                            <div class="sale-label">Sale</div>#}
                                            <div class="stock-label">In Stock</div>
                                        </a>
                                        <h2 class="product-name">
                                            <a href="#" title="{{ product.productTitle }}">{{ product.productTitle }}</a>
                                        </h2>
                                    <div class="price-box">
                                        <span class="regular-price" id="product-price-{{ product.id }}-new">
                                            <span class="price"><img src="{{ asset('bundles/bitcoinsite/') }}images/bitcoin.png" width="16" height="16" alt="B" />{{ product.price }}</span>                                    
                                        </span>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="button btn-cart" onclick="setLocation('{{ path('bitcoin_product', {'id':product.id, 'prdoductTitle': product.productTitle | url_encode(true)}) }}')"><span><span>Add to Cart</span></span></button>
                                    </div>
                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->
                        </li>        
                        {% endfor %}
                    </ul> 
                </div>
                <span class="featured_default_width" style="display:none; visibility:hidden"></span>
                </p></div>
        </article>

                            {% include 'BitcoinSiteBundle:Includes:sidebar.html.twig' %}
    </div>
</section>
                    {% endblock %}
{% block slider %}
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>
            <li class="slide1" data-transition="random" data-slotamount="7" data-link="http://www.google.de"><img src="{{ asset('bundles/bitcoinsite/') }}images/bg.jpg" alt="" />
                <div class="slide1_img tp-caption start" data-x="513" data-y="70" data-speed="700" data-start="800" data-easing="easeOutBounce"><img src="{{ asset('bundles/bitcoinsite/') }}images/main-banner1-img.png" alt="" /></div>
                <div class="caption1 tp-caption sft" data-x="775" data-y="113" data-speed="900" data-start="1400" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/20per-off.png" alt="" /></div>
                <div class="caption2 tp-caption  skewfromright" data-x="85" data-y="96" data-speed="700" data-start="1200" data-easing="easeInExpo">Traditional costume Jewellery</div>
                <div class="caption3 tp-caption  skewfrombottom" data-x="85" data-y="155" data-speed="900" data-start="1500" data-easing="easeOutQuint">Nunc non fermentum nunc Sed ut tempor </br> Cosequat sit amet..</div>
                <div class="caption sfb medium_grey" data-x="85" data-y="215" data-speed="700" data-start="2500"><a href="#">Shop Now </a></div>
            </li>
            <li class="slide2" data-transition="random" data-slotamount="7" data-link="#"><img src="{{ asset('bundles/bitcoinsite/') }}images/bg.jpg" alt="" />
                <div class="slide2_img tp-caption sfb start" data-x="45" data-y="60" data-speed="700" data-start="800" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/main-banner2-img.png" alt="" /></div>
                <div class="caption4 tp-caption sft" data-x="260" data-y="186" data-speed="900" data-start="1400" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/20per-off.png" alt="" /></div>
                <div class="caption5 tp-caption  skewfromleftshort customout" data-x="455" data-y="96" data-speed="500" data-start="1800" data-easing="easeOutBack"><strong>Exquisite Designer Jewellery</strong></div>
                <div class="caption6 tp-caption  skewfrombottom" data-x="455" data-y="150" data-speed="900" data-start="1500" data-easing="easeOutQuint">Add more Glamour to your style with our gorgeous </br> Jewellery Collection</div>
                <div class="caption sfb medium_grey" data-x="455" data-y="213" data-speed="700" data-start="2500"><a href="#">Shop Now </a></div>
            </li>
            <li class="slide3" data-transition="random" data-slotamount="7" data-link="#"><img src="{{ asset('bundles/bitcoinsite/') }}images/bg.jpg" alt="" />
                <div class="slide3_img tp-caption sfb start" data-x="552" data-y="48" data-speed="700" data-start="800" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/main-banner3-img.png" alt="" /></div>
                <div class="caption7 tp-caption sft" data-x="737" data-y="196" data-speed="900" data-start="1400" data-easing="easeOutBack"><img src="{{ asset('bundles/bitcoinsite/') }}images/20per-off.png" alt="" /></div>
                <div class="caption8 tp-caption  sft" data-x="87" data-y="95" data-speed="900" data-start="1400" data-easing="easeOutQuad">Stylish Women that is your big deal</div>
                <div class="caption9 tp-caption  lfl tp-resizeme start" data-x="87" data-y="155" data-speed="500" data-start="2200" data-easing="easeInQuart">Nunc non termentum nunc. Sed ut tempor</br>consequat sit amet...</div>
                <div class="caption sfb medium_grey" data-x="87" data-y="215" data-speed="700" data-start="2500"><a href="#">Shop Now </a></div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}