{% extends 'BitcoinSiteBundle::layout.html.twig' %}
{% block slider %}{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/product.js"></script>
<script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/bitcoinsite/') }}js/cloud-zoom.js"></script>
<script type="text/javascript">
    jQuery.noConflict();
    function productAddToCartForm() 
    {
        var qty = jQuery("#qty").val();
        var productId = {{ product.id }};
        jQuery.ajax({
            type: 'POST',
            url: '{{ url('bitcoin_cart_add_ajax') }}',
            data: {productId:productId, qty:qty},
            success: function(res) {
                alert(res);
            }
        });
    }
</script>
{% endblock %}
{% block content %}
<section class="main-container col2-left-layout">
    <div class="main">
        <article class="col-main">
            <div id="messages_product_view"></div>
            <div class="product-view">
                <div class="product-essential">
                    
                        <div class="product-img-box">
                            {% if product.images is defined and product.images is not empty  %}
                                {% set image = product.images.0.path %}
                            {% endif %}
                            <p class="product-image">
                                <a href="{{ image('uploads/images/'~image).resize(600,600) }}"  rel="" title="{{ product.productTitle }}" id="zoom1" class="cloud-zoom">	
                                    <img src="{{ image('uploads/images/'~image).resize(300,300) }}" alt="{{ product.productTitle }}" title="{{ product.productTitle }}"/>
                                </a>
                                <a id="zoom-btn" class="lightbox-group zoom-btn-small" href="{{ image('uploads/images/'~image).resize(600,600) }}" title="{{ product.productTitle }}">Zoom</a>
                            </p>
                            <div class="more-views additional-carousel">
                                <div class="customNavigation">
                                    <a class="btn prev">&nbsp;</a>
                                    <a class="btn next">&nbsp;</a>
                                </div>	

                                <div id="additional-carousel" class="product-carousel">
                                    {% if product.images is defined and product.images is not empty  %}
                                        {% for key, img in product.images %}
                                            <div class="slider-item">
                                                <div class="product-block">	
                                                    <a href='{{ image('uploads/images/'~img.path).resize(600,600) }}' class='cloud-zoom-gallery lightbox-group' title='{{ product.productTitle }}' rel="useZoom: 'zoom1', smallImage: '{{ image('uploads/images/'~img.path).resize(300,300) }}' ">
                                                        <img src="{{ image('uploads/images/'~img.path).resize(300,300) }}" width="74" height="74" alt="" />
                                                    </a>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %} 
                                </div>

                                <span class="additional_default_width" style="display:none; visibility:hidden"></span>

                                <script type="text/javascript">
                                    jQuery(function($) {

                                        $(".lightbox-group").colorbox({
                                            rel: 'lightbox-group',
                                            opacity: 0.5,
                                            speed: 300
                                        });
                                        $(".cloud-zoom-gallery").first().removeClass("cboxElement");
                                        $(".cloud-zoom-gallery").click(function() {
                                            $("#zoom-btn").attr('href', $(this).attr('href'));
                                            $("#zoom-btn").attr('title', $(this).attr('title'));

                                            $(".cloud-zoom-gallery").each(function() {
                                                $(this).addClass("cboxElement");
                                            });
                                            $(this).removeClass("cboxElement");
                                        });

                                    });

                                    jQuery(function($) {
                                        var t;
                                        $(window).resize(function() {
                                            clearTimeout(t);
                                            t = setTimeout(function() {
                                                $(".cloud-zoom-gallery").first().click();
                                            }, 200);
                                        });
                                    });

                                </script>
                            </div>

                        </div>

                        <div class="product-shop">
                            <div class="product-name">
                                <h1>{{ product.productTitle }}</h1>
                            </div>

                            <script type="text/javascript">
                                //<![CDATA[
                                var review_tab_show = function() {
                                    var ul = $('product_tabs_review_tabbed').parentNode;
                                    var li = $('product_tabs_review_tabbed');
                                    ul.select('li', 'ol').each(function(el) {
                                        var contents = $(el.id + '_contents');
                                        if (el == li) {
                                            el.addClassName('active');
                                            contents.show();
                                        } else {
                                            el.removeClassName('active');
                                            contents.hide();
                                        }
                                    });
                                };
                                //]]>
                            </script>

                            <p class="no-rating"><a rel="nofollow" onclick="review_tab_show()" href="#product_tabs_review_tabbed">Be the first to review this product</a></p>

                            <div class="sku"><span>SKU: </span>{{ ( product.sku is not empty) ? product.sku : 'N/A'  }}</div>
                            
                                <p class="availability in-stock">Availability: <span>In stock</span></p>
                                <div class="price-box">
                                    <span class="price special-price" id="product-price-57"><img src="{{ asset('bundles/bitcoinsite/') }}images/bitcoin.png" width="16" height="16" alt="B" /> {{ product.price }}</span>
                                </div>
                            
                            <div class="clearer"></div>
                            <div class="product-options-bottom">
                                <form action="#" method="post" onsubmit="productAddToCartForm(); return false;">
                                    <div class="add-to-cart">
                                        <label for="qty">Qty:</label>
                                        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty" autocomplete="off"/>
                                        <button type="button" title="Add to Cart" class="button btn-cart" onclick="productAddToCartForm(); return false;"><span><span>Add to Cart</span></span></button>
                                    </div>
                                </form>
                                <ul class="add-to-links">
                                    <li><a href="#" onclick="" class="link-wishlist">Add to Wishlist</a></li>
                                </ul>
                            </div>
                        </div> 
                        <div class="info3col-data">
                            <div class="custom_block">
                            </div>
                        </div>
                    
                </div>

                <div class="product-collateral">

                    <ul class="tabs">
                        <li id="product_tabs_description_tabbed" class="active first"><a href="#">Product Description</a></li>
                        <li id="product_tabs_review_tabbed" ><a href="#">Add Review</a></li>
                        <li id="product_tabs_tags_tabbed" ><a href="#">Product's Review</a></li>
                    </ul>
                    <div class="padder">

                        <div id="product_tabs_description_tabbed_contents">
                            <h6>Product Description</h6>
                            <ol>
                                <h2>Details</h2>
                                <div class="std">
                                    {{ product.description | raw }}
                                </div>
                            </ol>
                        </div>

                        <div id="product_tabs_review_tabbed_contents">
                            <h6>Add Review</h6>
                            <ol>

                                <br/>

                                <div class="form-add">
                                    <h2>Write Your Own Review</h2>
                                    {% block form_widget %}
                                    {{ form_start(form, {'attr': {'class':'form-horizontal','autocomplete':'off','id':'review-form', 'method':'post'}}) }}
                                    {{ form_errors(form) }}
                                        <input name="form_key" type="hidden" value="eS3GswPbJKq3c3th" />
                                        <fieldset>
                                            <h3>You're reviewing: <span>{{ product.productTitle }}</span></h3>
                                            <h4>How do you rate this product? <em class="required">*</em></h4>
                                            <span id="input-message-box"></span>
                                            <table class="data-table" id="product-review-table">
                                                <col />
                                                <col width="1" />
                                                <col width="1" />
                                                <col width="1" />
                                                <col width="1" />
                                                <col width="1" />
                                                <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th><span class="nobr">1 star</span></th>
                                                        <th><span class="nobr">2 stars</span></th>
                                                        <th><span class="nobr">3 stars</span></th>
                                                        <th><span class="nobr">4 stars</span></th>
                                                        <th><span class="nobr">5 stars</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Price</th>
                                                        {% for rate in form.rating %}
                                                            <td class="value">{{ form_widget(rate, {'attr':{'class':"radio"}}) }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                                            <script type="text/javascript">decorateTable('product-review-table')</script>
                                            <ul class="form-list">
                                                <li>
                                                    {{ form_label(form.fullname, "Full Name" | raw, {'label_attr': {'class': 'required'}}) }}<em class="required">*</em>
                                                    <div class="input-box">
                                                        {{ form_widget(form.fullname, {'attr': {'class': 'input-text required-entry', 'placeholder':'Full Name', 'required':false}}) }}
                                                    </div>
                                                </li>
                                                <li>
                                                    {{ form_label(form.title, "Short Summary" | raw, {'label_attr': {'class': 'required'}}) }}<em class="required">*</em>
                                                    <div class="input-box">
                                                        {{ form_widget(form.title, {'attr': {'class': 'input-text required-entry', 'placeholder':'Summary'}}) }}
                                                    </div>
                                                </li>
                                                <li>
                                                    {{ form_label(form.review, "Review" | raw, {'label_attr': {'class': 'required'}}) }}<em class="required">*</em>
                                                    <div class="input-box">
                                                        {{ form_widget(form.review, {'attr': {'class': 'required-entry', 'placeholder':'Summary', 'cols':'5', 'rows':'3'}}) }}
                                                    </div>
                                                </li>
                                                {#
                                                <li>
                                                    {{ form_label(form.captcha, "Security" | raw, {'label_attr': {'class': 'required'}}) }}<em class="required">*</em>
                                                    <div class="input-box">
                                                        {{ form_widget(form.captcha, {'attr': {'class': 'input-text required-entry'}}) }}
                                                        {{ form_errors(form.captcha) }}
                                                    </div>
                                                </li>
                                                #}
                                            </ul>
                                            {{ form_widget(form.fkProduct, {'value': product.id}) }}
                                        </fieldset>
                                        <div class="buttons-set">
                                            {#{ form_widget(form.submit, {'attr': {'class': 'button'}}) }#}
                                            <button type="submit" title="Submit Review" class="button"><span><span>Submit Review</span></span></button>
                                        </div>
                                    {{ form_end(form) }}
                                    {% endblock form_widget %}
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        var dataForm = new VarienForm('review-form');
                                        Validation.addAllThese(
                                                [
                                                    ['validate-rating', 'Please select one of each of the ratings above', function(v) {
                                                            var trs = $('product-review-table').select('tr');
                                                            var inputs;
                                                            var error = 1;

                                                            for (var j = 0; j < trs.length; j++) {
                                                                var tr = trs[j];
                                                                if (j > 0) {
                                                                    inputs = tr.select('input');

                                                                    for (i in inputs) {
                                                                        if (inputs[i].checked == true) {
                                                                            error = 0;
                                                                        }
                                                                    }

                                                                    if (error == 1) {
                                                                        return false;
                                                                    } else {
                                                                        error = 1;
                                                                    }
                                                                }
                                                            }
                                                            return true;
                                                        }]
                                                ]
                                                );
                                        //]]>
                                    </script>
                                </div>


                            </ol>
                        </div>

                        <div id="product_tabs_tags_tabbed_contents">
                            <h6>Product's Review</h6>
                            <ol>
                                <div class="box-collateral box-tags">
                                    {% for review in product.reviews %}
                                        <div class="review-box">
                                            <div class="left">
                                                <b>Title :</b> {{ review.title }}
                                            </div>
                                            <div class="right">
                                                <b>Added By :</b> {{ review.fullname }}
                                            </div>
                                            <div class="clear"></div>
                                            <div>
                                                {{ review.review | raw }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </ol>
                        </div>

                        <div id="product_tabs_cms_contents">
                            <h6>CMS tab</h6>
                            <ol><div class="product-specs"></div></ol>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var MegnorTabs = Class.create();
                        MegnorTabs.prototype = {
                            initialize: function(selector) {
                                $$(selector).each(this.initTab.bind(this));
                            },
                            initTab: function(el) {
                                el.href = 'javascript:void(0)';
                                if ($(el).up('li').hasClassName('active')) {
                                    this.showContent(el);
                                }
                                el.observe('click', this.showContent.bind(this, el));
                            },
                            showContent: function(a) {
                                var li = $(a).up('li'),
                                        ul = $(li).up('ul');

                                ul.select('li'/*, 'ol'*/).each(function(el) {
                                    var contents = $(el.id + '_contents');
                                    if (el.id == li.id) {
                                        el.addClassName('active');
                                        contents.show();
                                    } else {
                                        el.removeClassName('active');
                                        contents.hide();
                                    }
                                });
                            }
                        }
                        new MegnorTabs('.tabs a');
                    </script>
                </div>
            </div>
            
        </article>	
        {% include 'BitcoinSiteBundle:Includes:sidebar.html.twig' %}
    </div>
</section>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bitcoinsite/') }}css/cloud-lightbox-zoom.css" media="all" />
<style>
    .review-box{
        border-bottom: 1px dashed #EBEBEB;
        margin-bottom: 10px;
    }
    .review-box .left{float: left;}
    .review-box .right{float: right;}
</style>
{% endblock %}