{% extends 'BitcoinAdminBundle::base.html.twig' %}
{% block title 'Manage Product Category' %}
{% block leftmenu %}{% endblock %}
{% block page_heading %}All Reviews List{% endblock %}
{% block head_link %}<a href="{{ path('product-review_new') }}" class="sbmt_btn pull-right">Create New Review</a>{% endblock %}
{% block contentdata %}
<div class="tabular_cont">
    <div id="client_table"></div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('bundles/bitcoinadmin/') }}libs/bootstrap-data-table/bootstrap-datatable.min.js" ></script>
<script type="text/javascript">
    $("#client_table").datatable({
    title: '',
            perPage: 10,
            allowTableinfo: false,
            url: '{{url('product-review_grid')}}',
            showPagination: true,
            showFilter: true,
            showFilterRow: true,
            toggleColumns: false,
            allowOverflow: false,
            columns: [
            {
            title: "Review ID",
                    sortable: false,
                    field: "id",
                    filter: false,
            },
            {
            title: "Title",
                    sortable: true,
                    field: "title",
                    filter: true,
            },
            {
            title: "Rating",
                    sortable: true,
                    field: "rating",
                    filter: false,
            },
            {
            title: "Added By",
                    sortable: true,
                    field: "fullname",
                    filter: false,
            },
            {
            title: "Published",
                    sortable: true,
                    field: "published",
                    filter: false,
                    callback: function(data, cell) {
                        return (data['published']) ? 'Yes' : 'No';
                    }
            },
            {
            title: "Product",
                sortable: true,
                field: "fkProduct",
                filter: false,
                callback: function(data, cell) {
                    if(data['fkProduct']!=null) {
                        showRoute = "{{ path('product_show', { 'id': "PLACEHOLDER" }) }}";
                        showRoute = showRoute.replace("PLACEHOLDER", data['fkProduct']['id']);
                        //return data['fkProduct']['productTitle'];
                        return '<a class="" href="'+showRoute+'">'+data['fkProduct']['productTitle']+'</a>';
                    }
                }
            },
            {
            title: "Actions",
                    sortable: false,
                    filter: false,
                    callback: function(data, cell) {
                        editRoute = "{{ path('product-review_edit', { 'id': "PLACEHOLDER" }) }}";
                        editRoute = editRoute.replace("PLACEHOLDER", data['id']);
                        removeRoute = "{{ path('product-review_delete', { 'id': "PLACEHOLDER" }) }}";
                        removeRoute = removeRoute.replace("PLACEHOLDER", data['id']);
                        showRoute = "{{ path('product-review_show', { 'id': "PLACEHOLDER" }) }}";
                        showRoute = showRoute.replace("PLACEHOLDER", data['id']);
                        return '<a class="" href="'+showRoute+'"><img alt="View" src="{{ asset('bundles/bitcoinadmin/') }}images/view_icon.png"></a>' +
                            '<a class="" href="'+editRoute+'"><img alt="Edit" src="{{ asset('bundles/bitcoinadmin/') }}images/edit_icon.png"></a>' +
                            '<a class="" href="'+removeRoute+'" onclick="return confirm_delete();"><img title="Delete" alt="Delete" src="{{ asset('bundles/bitcoinadmin/') }}images/icon-delete.png"></a>';
                    }
            }
            ]
    });
</script>
{% endblock %}