{% extends 'BitcoinAdminBundle::base.html.twig' %}
{% block title 'Manage Product Category' %}
{% block leftmenu %}{% endblock %}
{% block page_heading %}Product Review{% endblock %}
{% block head_link %}
<div class=" pull-right span1">
    <a href="{{ path('product-review') }}" class="sbmt_btn">Back</a> 
</div>
<div class=" pull-right span1">
    <a href="{{ path('product-review_edit', { 'id': entity.id }) }}" class="sbmt_btn">Edit</a>
</div>{#{ app.request.attributes.get('_route') }#}
    {#{ form(delete_form) }#}
{% endblock %}
{% block contentdata %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ entity.fullname }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Review</th>
                <td>{{ entity.review | raw }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ entity.rating }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ entity.published }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{{ entity.modifiedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
